@use '../../colors';

.generic-error-message {
  color: colors.$white;
  background-color: colors.$red;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  position: relative;
  transition: 0.3s ease-in-out;

  .cross {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 0 5px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}
